<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Solar" verbose="10">

    <listeners>
        <!--<listener class-name="org.uncommons.reportng.HTMLReporter" />-->
        <!--<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />-->
        <listener class-name="com.example.lineartest.utils.WebTestListener"/>

    </listeners>
    <test name="SolarTest" preserve-order="true">
        <classes>
            <class name="com.example.lineartest.testCases.testLogin"/>
            <class name="com.example.lineartest.testCases.testFind"/>
            <class name="com.example.lineartest.testCases.testFriend"/>
            <class name="com.example.lineartest.testCases.testSport"/>
            <class name="com.example.lineartest.testCases.testMine"/>
        </classes>
    </test>
</suite>
